[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"
google-api-python-client = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-auth = "*"
numpy = "*"
pyinstaller = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
